{% extends "fitfeed/base.html" %}
{% load static %}
{% block content %} 


<div class="content-section">

	<div class="row">
		<h1> {{ user.username }} Profile</h1>
	</div>


	<div class="row">
		<div class="col">
	<img class="rounded-circle mx-auto d-block border p-2 border-white position-right" src="{{ request.user.fitprofile.img.url }}">

	</div>

  	<div class="col">
		<form method="POST" enctype="multipart/form-data"> 
		{% load crispy_forms_tags %}
		{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-6">Edit Profile Info</legend>
				{{ user_form | crispy }}
				{{ profile_form | crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Save Changes</button>
			</div>
		</form>
	</div>

	</div>

</div>

	
	<div class="content-section">
		

		<h3>Recent Activities</h3>

<!-- https://getbootstrap.com/docs/5.0/content/tables/ -->
	<table class="table light">
		<thead>
			<tr>
				<th scope="row"><p>#</p></th>

					<th scope="col"><p> Activity </p></th>
					<th scope="col"><p> Duration  </p></th>
					<th scope="col"><p> Rating </p></th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<th scope="row"><p>1</p></th>
					<td><p> Running </p></td>
					<td><p> 30 mins </p></td>
					<td><p> *****</p></td>
			</tr>
			<tr>
				<th scope="row"><p>2</p></th>
					<td><p> FatBurn </p></td>
					<td><p> 50 mins </p></td>
					<td><p> ***</p></td>
			</tr>
			<tr>
				<th scope="row"><p>3</p></th>
					<td><p>Cardio </p></td>
					<td><p> 10 mins </p></td>
					<td><p> **** </p></td>
			</tr>
		</tbody>
	</table>



	 </div>

	</div>
	


{% endblock %} 