{% extends "fitfeed/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data"> 
            {% csrf_token %}
            <fieldset class="form-group" >
                <legend class="border-bottom mb-4">Create new Reminder from FORM!</legend>
             {{ form.name | as_crispy_field }}    


              {{ form.task }}

            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
              {{ form.start_time | as_crispy_field }}
              <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
            </div>


            <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
              {{ form.expires | as_crispy_field }}
              <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
            </div>

                {{ form.interval | as_crispy_field }}   

                {{ form.joke | as_crispy_field }}    

                {{ form.weather | as_crispy_field }}    

                {{ form.latitude | as_crispy_field }}    
 
                {{ form.longitude | as_crispy_field }}    


                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Add Reminder</button>
                </div>
            </fieldset>
        </form>
       
    </div>
    <button id="fetchCoords">Fetch my coordinates</button>
</div>


<script>
  $(function () {
    $("#datetimepicker1").datetimepicker({
        format: 'YYYY-MM-DD HH:mm:ss',
    });
  });


    $(function () {
    $("#datetimepicker2").datetimepicker({
      format: 'YYYY-MM-DD HH:mm:ss',
    });
  });
</script>


<script type="text/javascript">
    function geoFindMe() {

    function success(position) {
        const latitude  = position.coords.latitude.toFixed(5);
        const longitude = position.coords.longitude.toFixed(5);
        console.log(latitude);
        console.log(longitude);
        document.getElementById('id_latitude').value = latitude;
        document.getElementById('id_longitude').value = longitude;

    }

    function error() {
        console.log('Unable to retrieve your location');
    }

    if(!navigator.geolocation) {
        console.log('Geolocation is not supported by your browser');
    } else {
        status.textContent = 'Locating…';
        navigator.geolocation.getCurrentPosition(success, error);
    }

}

document.querySelector('#fetchCoords').addEventListener('click', geoFindMe);


</script>


{% endblock content %}